<!-- footer -->
<footer>
    <ul class="row row1">
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">신용정보활용체제</a></li>
        <li><a href="#">전자민원</a></li>
        <li><a href="#">사고신고</a></li>
        <li><a href="#">신한지킴이</a></li>
        <li><a href="#">보호금융상품등록부</a></li>
        <li><a href="#">상품공시실</a></li>
        <li><a href="#">영업점안내</a></li>
        <li><a href="#">상담신청</a></li>
        <li><a href="#">웹접근성이용안내</a></li>
        <li><a href="#">위치기반서비스약관</a></li>
    </ul>
    <ul class="row row2">
        <li>
            <span class="text">고객센터</span>
            <a href="#">1599-8000</a>
        </li>
        <li><span class="text">평일 09:00 ~ 18:00 (은행휴무일 제외)</span></li>
        <li><span class="text">&copy; SHINHAN BANK. All rights reserved.</span></li>
    </ul>
    <ul class="sns-wrap">
        <li><a href="#"><span class="icon icon_kakao"></span></a></li>
        <li><a href="#"><span class="icon icon_facebook"></span></a></li>
        <li><a href="#"><span class="icon icon_instagram"></span></a></li>
        <li><a href="#"><span class="icon icon_x"></span></a></li>
        <li><a href="#"><span class="icon icon_band"></span></a></li>
    </ul>
</footer>