<!-- header.html -->
<header>
  <div class="h-top">
    <ul>
      <li><a href="#">Tops Club</a></li>
      <li><a href="#">카드</a></li>
      <li><a href="#">증권</a></li>
      <li>
        <a href="#"><span class="text">신한멤버스</span><span class="icon icon_arrow_btm"></span></a>
      </li>
      <li>
        <a href="#"><span class="text">Language</span><span class="icon icon_arrow_btm"></span></a>
      </li>
    </ul>
  </div>
  <div class="h-btm">
    <button class="btn-mobile-logout">
      <span class="icon icon_logout"></span>
    </button>
    <a href="#" class="logo" alt="홈페이지 이동 버튼"><span class="img_logo" alt="로고 이미지"></span></a>
    <button class="btn-mobile-menu">
      <span class="icon icon_menu"></span>
    </button>
    <nav>
      <ul class="gnb">
        <li class="check">
          <a href="#">조회</a>
        </li>
        <li class="transfer">
          <a href="#">이체</a>
        </li>
        <li class="bills"><a href="#">공과금</a></li>
        <li class="forex"><a href="#">외환</a></li>
        <li class="financial"><a href="#">금융상품</a></li>
      </ul>
    </nav>
    <div class="h-btm-button-wrap">
      <button class="btn-search">
        <span class="icon icon_search"></span>
      </button>
      <button class="btn-login">
        <span class="text">로그인</span>
      </button>
    </div>
  </div>
  <div class="lnb-wrap check">
    <div class="lnb">
      <ul>
        <li class="item-depth1"><a href="#">계좌조회</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">거래내역조회</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">거래중지/휴면계좌조회</a></li>
        <li><a href="#">거래중지계좌조회</a></li>
        <li><a href="#">휴면계좌조회</a></li>
        <li><a href="#">장기미거래신탁</a></li>
        <li><a href="#">미수령연금신탁</a></li>
        <li><a href="#">미수령주식찾기</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">혜지계좌 조회</a></li>
        <li><a href="#">혜지(지급)예상조회</a></li>
        <li><a href="#">혜지계좌조회</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">세금우대한도조회</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">기일도래현황</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">기타조회</a></li>
        <li><a href="#">수표/어음</a></li>
        <li><a href="#">전자어음</a></li>
        <li><a href="#">증권대행업무</a></li>
      </ul>
    </div>
  </div>
  <div class="lnb-wrap transfer">
    <div class="lnb">
      <ul>
        <li class="item-depth1"><a href="">계좌이체</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="">심플이체</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="">다계좌이체</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="">이체결과조회</a></li>
        <li><a href="#">계좌이체내역조회</a></li>
        <li><a href="#">지연이체내역조회</a></li>
        <li><a href="#">폰뱅킹이체내역조회</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">예약이체</a></li>
        <li><a href="#">예약이체등록</a></li>
        <li><a href="#">예약이체내역조회</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">자동이체</a></li>
        <li><a href="#">계좌간 자동이체 등록</a></li>
        <li><a href="#">자동이체 조회/변경/취소</a></li>
        <li><a href="#">관리비자동납부</a></li>
        <li><a href="#">전화요금자동납부</a></li>
        <li><a href="#">이동통신요금자동납부</a></li>
        <li><a href="#">국민연금/국민건강보험료 자동납부</a></li>
        <li><a href="#">서울시지방세자동납부</a></li>
        <li><a href="#">카드대금자동납부</a></li>
        <li><a href="#">신한머니자동이체</a></li>
        <li><a href="#">자동이체내역조회</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">기타이체서비스</a></li>
        <li><a href="#">그룹이체</a></li>
        <li><a href="#">파일이체</a></li>
        <li><a href="#">증권자금이체</a></li>
        <li><a href="#">중도금납부</a></li>
        <li><a href="#">연금납부</a></li>
        <li><a href="#">이체수수료조회</a></li>
        <li><a href="#">현금담보(관세청)</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">계좌이동/계좌통합관리</a></li>
        <li><a href="#">KEB하나은행우대혜택</a></li>
        <li><a href="#">계좌이동서비스알아두세요</a></li>
        <li><a href="#">계좌이동</a></li>
        <li><a href="#">계좌통합관리서비스</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">착오송금 조회/반환</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">연금계좌이체</a></li>
      </ul>
    </div>
  </div>
  <div class="lnb-wrap bills">
    <div class="lnb">
      <ul>
        <li class="item-depth1"><a href="">My공과금</a></li>
        <li><a href="">공과금등록/납부</a></li>
        <li><a href="">공과금스케쥴러</a></li>
        <li><a href="">납부내역조회</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="">지로/생활요금/기타</a></li>
        <li><a href="">지로납부</a></li>
        <li><a href="">지로납부내역조회</a></li>
        <li><a href="">KT통신요금</a></li>
        <li><a href="">전기요금/TV수신료</a></li>
        <li><a href="">상하수도요금</a></li>
        <li><a href="">보관금</a></li>
        <li><a href="">송달료</a></li>
        <li><a href="">공탁금</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="">지방세</a></li>
        <li><a href="">지방세</a></li>
        <li><a href="">환경개선부담금</a></li>
        <li><a href="">세외수입</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="">국세/관세</a></li>
        <li><a href="#">국세</a></li>
        <li><a href="#">관세</a></li>
        <li><a href="#">기금/기타국고</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">범칙금/벌과금</a></li>
        <li><a href="#">교통범칙금</a></li>
        <li><a href="#">검찰청벌과금</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">대학등록금</a></li>
        <li><a href="#">원화</a></li>
        <li><a href="#">외화</a></li>
        <li><a href="#">등록금 납부내역</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">4대보험료</a></li>
        <li><a href="#">국민연금(반납/추납보험료)</a></li>
        <li><a href="#">통합장수보험료</a></li>
        <li><a href="#">고용/산재보험(연납/분기납)</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">아파트관리비</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">지로/공과금예약납부조회</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">지역개발채권</a></li>
      </ul>
    </div>
  </div>
  <div class="lnb-wrap forex">
    <div class="lnb">
      <ul>
        <li class="item-depth1"><a href="">환율/외화예금 금리</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="">환전지갑</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="">외화송금</a></li>
        <li><a href="">송금안내</a></li>
        <li><a href="">송급정보 등록/조회/변경</a></li>
        <li><a href="">해외송금 보내기</a></li>
        <li><a href="">국내송금 보내기</a></li>
        <li><a href="">송금내역 조회</a></li>
        <li><a href="">거래외국환은행 지정</a></li>
        <li><a href="">외화수표 추심결과조회</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="">외화계좌이체</a></li>
        <li><a href="#">당행외화이체안내</a></li>
        <li><a href="#">당행외화계좌이체</a></li>
        <li><a href="#">당행외화계좌이체결과조회</a></li>
        <li><a href="#">당행외화이체안내</a></li>
        <li><a href="#">타행외화계좌이체</a></li>
        <li><a href="#">타행외화계좌이체결과조회</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">외환매매 예약서비스</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">외화예금</a></li>
        <li><a href="#">계좌조회</a></li>
        <li><a href="#">거래내역조회</a></li>
        <li><a href="#">해지</a></li>
        <li><a href="#">만기일관리</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">송금클럽</a></li>
        <li><a href="#">송금클럽 홈</a></li>
        <li><a href="#">송금클럽안내</a></li>
        <li><a href="#">송금클럽가입</a></li>
        <li><a href="#">My송금클럽</a></li>
        <li><a href="#">새클럽만들기</a></li>
      </ul>
    </div>
  </div>
  <div class="lnb-wrap financial">
    <div class="lnb">
      <ul>
        <li class="item-depth1"><a href="">추천상품</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="">예금</a></li>
        <li><a href="">상품&가입</a></li>
        <li><a href="">예금조회/추가입금</a></li>
        <li><a href="">계좌해지</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="">대출</a></li>
        <li><a href="">상품&가입</a></li>
        <li><a href="">이자납입</a></li>
        <li><a href="">대출상환(원금)</a></li>
        <li><a href="">예금담보대출</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="">펀드</a></li>
        <li><a href="#">펀드메인</a></li>
        <li><a href="#">상품&가입</a></li>
        <li><a href="#">내펀드수익률조회</a></li>
        <li><a href="#">펀드조회/추가입금</a></li>
        <li><a href="#">펀드판매</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">신탁</a></li>
        <li><a href="#">신탁상품</a></li>
        <li><a href="#">특정금전신탁(MMT/CMT)</a></li>
        <li><a href="#">연금저축신탁 해지/해지예상조회</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">퇴직연금/IRP</a></li>
        <li><a href="#">연금메인</a></li>
        <li><a href="#">나의퇴직연금</a></li>
        <li><a href="#">개인형IRP신규</a></li>
        <li><a href="#">추가입금/조회</a></li>
        <li><a href="#">통지서비스</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">ISA</a></li>
        <li><a href="#">ISA소개/가입</a></li>
        <li><a href="#">ISA조회/변경</a></li>
      </ul>
      <ul>
        <li class="item-depth1"><a href="#">보험</a></li>
        <li><a href="#">보험메인</a></li>
        <li><a href="#">보험상품</a></li>
        <li><a href="#">보험가입내역</a></li>
        <li><a href="#">계약상세조회</a></li>
        <li><a href="#">보험료 납입내역조회</a></li>
      </ul>
    </div>
  </div>
</header>